@import "../variables";

.backdrop.fade-in {
  opacity: 0.25;
  animation-name: backdropFadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes backdropFadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}

.modal {
  &.show {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    animation-name: modalShow;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
  }
  .modal-header {
    @apply flex items-center justify-between p-4 border-b border-solid rounded-t;
    .modal-close {
      [data-direction="ltr"] & {
        @apply ml-auto;
      }
      [data-direction="rtl"] & {
        @apply mr-auto;
      }
    }
  }
  .modal-content {
    @apply border-0 rounded-lg shadow-lg relative flex flex-col w-full outline-none;
  }
  .modal-footer {
    @apply flex items-center justify-end p-4 border-t border-solid rounded-b;
  }
}

@keyframes modalShow {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translate(0, -20px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@each $key, $value in $palettes {
  [data-background="#{$key}"] {
    .modal {
      .modal-header {
        @apply #{map-get($value, "background-color")};
        @apply #{map-get($value, "text-color")};
        @apply #{map-get($value, "border-color")};
      }
      .modal-footer {
        @apply #{map-get($value, "background-color")};
        @apply #{map-get($value, "text-color")};
        @apply #{map-get($value, "border-color")};
      }
      .modal-content {
        @apply #{map-get($value, "background-color")};
        @apply #{map-get($value, "text-color")};
      }
    }
  }
}
