.top-navigation {
  &.top-navigation-1 {
    top: 4rem;
  } 
  &.top-navigation-1 > ul ul {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &.top-navigation-1 > ul > li:hover > button + ul {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  &.top-navigation-1 > ul > li:hover > ul > li:hover > button + ul {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
